Q1. What is a database? Differentiate between SQL and NoSQL databases.

-A database is a structured collection of data that is organized and stored for efficient retrieval, manipulation, and management.         
-It provides a way to store and manage large volumes of data and allows users or applications to perform various operations on that data.

a) SQL Databases:

-It is a Relational databases based on the SQL language.    
-it Uses predefined schemas and It has fixed tables with rows and columns.    
-In this Data is organized in a structured manner, with relationships defined between tables using foreign keys.                    
-Examples of SQL databases include MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.                             
-It is Suitable for applications that require complex querying, data integrity, and structured data representation.                  
-ACID (Atomicity, Consistency, Isolation, Durability) compliance is typically supported for maintaining data consistency.          

b)NoSQL Databases:            
-Non-relational databases designed to handle large volumes of unstructured or semi-structured data.                  
-Do not rely on a fixed schema and allow flexible data models, such as key-value pairs, documents, columnar, or graph-based structures.               
-Data can be stored and retrieved in a more flexible and scalable manner.     
-Examples of NoSQL databases include MongoDB, Cassandra, Redis, and Amazon DynamoDB.                                              
-Suitable for applications with rapidly changing or unstructured data, horizontal scaling needs, and high availability requirements.                
-Often provide eventual consistency and relaxed transaction guarantees to achieve scalability and performance.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is "data definition language". It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and constraints.

1) CREATE:

Used to create new database objects like tables, indexes, views, or constraints.                               
Example: CREATE TABLE Students (id INT, name VARCHAR(50), age INT);

2) DROP:

Used to remove an existing database object from the database.               
Example: DROP TABLE Students;

3) ALTER:

Used to modify the structure of an existing database object, such as adding or dropping columns, modifying data types, or renaming objects.                   
Example: ALTER TABLE Students ADD COLUMN grade VARCHAR(2);

4) TRUNCATE:

Used to remove all data from a table while keeping the structure intact.      
Example: TRUNCATE TABLE Students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to retrieve, insert, update, and delete data in a database. DML statements allow you to interact with the data stored in the database tables.

1) INSERT:

Used to insert new records into a table.                    
Example: INSERT INTO Customers (name, email) VALUES ('John Doe', 'johndoe@example.com');

2) UPDATE:

Used to modify existing records in a table.                     
Example: UPDATE Customers SET email = 'newemail@example.com' WHERE id = 1;

3) DELETE:

Used to delete existing records from a table.                 
Example: DELETE FROM Customers WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to query and retrieve data from a database. The most commonly used DQL statement is SELECT, which allows you to retrieve specific columns or rows from one or more database tables.

SELECT:

Used to retrieve data from a database table or tables.
Specifies the columns you want to retrieve and the table(s) from which to retrieve the data.                         
Example- SELECT * FROM TABLE_NAME

Q5. Explain Primary Key and Foreign Key.

*Primary Key-- 

-The primary key is a unique or non-null key that uniquely identifies every record in a table or relation.                 
-The primary key column can't store duplicate values.               
-Only one primary key can be defined for a table.               
-Primary Key constraints are used to enforce the uniqueness and non-nullability of the primary key column(s).                   

Example:                 
Consider a table called "Employees" with columns such as EmployeeID, FirstName, LastName, and Age. If the EmployeeID column is designated as the primary key, it will have a unique value for each employee in the table. No two employees can have the same EmployeeID.


*Foreign Key--

-A Foreign Key is a column or a set of columns in a table that refers to the Primary Key of another table.              
-It establishes a relationship between two tables by enforcing referential integrity.                                
-Foreign Key constraints are used to maintain data consistency and ensure that the values in the Foreign Key column(s) match the values in the referenced Primary Key column(s).                               

Example:
Consider two tables, "Orders" and "Customers." The Orders table may have a column called "CustomerID," which is a Foreign Key that references the "CustomerID" Primary Key column in the Customers table. This Foreign Key relationship ensures that any value in the CustomerID column of the Orders table must exist in the CustomerID column of the Customers table, thereby maintaining the integrity of the data.

In summary, the Primary Key uniquely identifies each record in a table, while the Foreign Key establishes relationships between tables by referencing the Primary Key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
       host="localhost",
       user="xyz",
       password="******" 
)

mycursor = mydb.cursor()
mycursor.execute("query")

*cursor()--                 
this method is used to create a cursor object, which allows you to execute SQL statements and interact with the database. The cursor serves as a control structure that enables you to navigate and manipulate the result set returned from the executed queries.

*execute()--                        
this method is used to execute SQL statements or database commands through the cursor. It takes an SQL query or command as a parameter and performs the corresponding operation on the database.

Q7. Give the order of execution of SQL clauses in an SQL query.