Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
a= [4,8,15,16,23,42]

data = pd.Series(a)
print(data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd

my_list=[1,2,3,4,5,6,7,8,9,10]
series= pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

# Name               Age                   Gender
# Alice              25                    Female       
# Bob                30                    Male
# Claire             27                    Female

print the dataframe

In [5]:
import pandas as pd

data1 = { "Name" : ["Alice","Bob","Claire"],
         "Age" : [25, 30 , 27],
         "Gender":["Female","Male","Female"] 
        }

df = pd.DataFrame(data1)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame-- Pandas DataFrame is a 2-d array or table with rows and columns that can hold data of different types (e.g., numbers, strings, etc.) in a tabular format.                                       
Each column in a DataFrame represents a variable, and each row represents an observation or data point.                             

Series-- Pandas Series is a 1-d labeled array that can hold data of a single data type.                                      
A Series is like a single column of data with an associated label, called an index.

In [13]:
import pandas as pd

data2 ={'Name': ['John', 'Emma', 'Tom'],
        'Age': [25, 30, 35],
        'Country': ['USA', 'Canada', 'UK']}

df2 = pd.DataFrame(data2)

ages=pd.Series([25,30,35])

print("DataFrame:\n",df2)
print()
print("Series:\n",ages)

DataFrame:
    Name  Age Country
0  John   25     USA
1  Emma   30  Canada
2   Tom   35      UK

Series:
 0    25
1    30
2    35
dtype: int64

as per above result,  the DataFrame is a tabular structure with multiple columns, while the Series is a single column with associated index labels.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

1. head() --> This function allow you to view the first few rows of DataFrame    
ex. --> sales_data.head()

2. tail() --> This function allow you to view the last few rows of DataFrame

ex. --> sales_data.tail()

3. info() --> this function provides a concise summary of the DataFrame. It helps in understanding the structure of the data.                             
ex. --> sales_data.info()

4. describe() --> This function generates descriptive statistics of the numeric columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles.                                       
ex. -->  sales_data.describe()

5. unique() --> it returns an array of unique values in a column.this function is useful for exploring categorical or discrete data.                                       
ex. --> unique_products = sales_data['Product'].unique()

6. nunique() --> returns the count of unique values. this function is useful for exploring categorical or discrete data.                                  
ex. --> num_customers = sales_data['Customer'].nunique()               

7. sort_values() --> sorts the DataFrame based on one or more columns. It allows you to arrange the data in ascending or descending order, facilitating analysis and visualization.                                              
ex. --> sorted_data = sales_data.sort_values('Sales', ascending=False)

8. groupby() --> it is used for grouping the data based on one or more columns. It allows you to perform aggregations and transformations on grouped data, such as calculating sum, mean, or count within each group.    
ex. --> sales_by_region = sales_data.groupby('Region')['Sales'].sum()         

9. fillna() --> it is used to fill/ replace missing values in the DataFrame with a specified value or a method like forward fill or backward fill. It helps in handling missing data before analysis.                                       
ex. -->                                                       
import pandas as pd

df = pd.read_csv('data.csv')

newdf = df.fillna(222222)

10. dropna() --> removes missing values (rows/columns) from DataFrame. It allows you to drop rows or columns that contain any missing values or to specify a subset of columns to consider for removing missing values.          

ex. --> newdf = df.dropna(axis=0) or df_dropped_columns = df.dropna(axis=1)

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

1. A Series in Pandas represents a one-dimensional array-like object that can hold any data type. It is mutable, meaning you can modify its values by assigning new values to specific indices.                            
2. A DataFrame, is a two-dimensional labeled data structure with columns of potentially different types. It is also mutable, allowing you to modify the values in specific cells, add or remove columns, or update the values using various operations.                                              
3. Panel was a three-dimensional data structure in earlier versions of Pandas, but it has been deprecated and replaced by more flexible options like MultiIndexing in DataFrame or the use of xarray library for multi-dimensional data.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [3]:
import pandas as pd

# Create multiple Series
series1 = pd.Series([1, 2, 3])
series2 = pd.Series(['a', 'b', 'c'])
series3 = pd.Series([True, False, True])

# Combine Series into a DataFrame using pd.concat()
df_concat = pd.concat([series1, series2, series3], axis=1)
print(df_concat)

# Create DataFrame from Series dictionary
data = {
    'Column1': series1,
    'Column2': series2,
    'Column3': series3
}
df_dict = pd.DataFrame(data)
print(df_dict)

   0  1      2
0  1  a   True
1  2  b  False
2  3  c   True
   Column1 Column2  Column3
0        1       a     True
1        2       b    False
2        3       c     True